body{
    margin: 7px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    padding: 10px;
    align-items: left;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}
button{
    margin-top:10px;
    background-color: #5f9341;
    color : #FFFFFF;
    padding:15px;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
}
