body{
    margin: 7px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    padding: 10px;
    align-items: left;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}
button{
    margin-top:10px;
    background-color: #396d1a;
    color : #FFFFFF;
    padding:15px;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
}
ul{
    style: none;
    padding: 0px;
}

li a{
    color: #5f9341;
}

li {
    margin-top:5px;
}
